[submodule ".config/zsh/pure"]
	path = .config/zsh/pure
	url = git@github.com:sindresorhus/pure.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/vitaliichyhryn/config.nvim
